<!doctype html>
<html lang="en" class="md-scrollbar">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link href="https://cdn.bootcss.com/vue-material/1.0.0-beta-8/vue-material.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/vue-material/1.0.0-beta-8/theme/default.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
    <script src="https://cdn.bootcss.com/vue-material/1.0.0-beta-8/vue-material.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
</head>

<body style="background-color: #ffffff">
<div id="app" class="page-container">
    <md-app>
        <md-app-toolbar class="md-primary">
            <md-button class="md-icon-button" @click="toggleMenu" v-if="!menuVisible">
                <md-icon>menu</md-icon>
            </md-button>
            <span class="md-title">银行代收费系统</span>
            <div class="md-toolbar-section-end">
                <md-button @click="refresh">
                    <md-icon>refresh</md-icon>
                </md-button>
            </div>
        </md-app-toolbar>

        <md-app-drawer :md-active.sync="menuVisible" md-persistent="full" style="width: 20%">
            <md-toolbar class="md-transparent" md-elevation="0">
                <span>控制台</span>

                <div class="md-toolbar-section-end">
                    <md-button class="md-icon-button md-dense" @click="toggleMenu">
                        <md-icon>keyboard_arrow_left</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-list>
                <md-list-item @click="showRecord">
                    <md-icon>watch</md-icon>
                    <span class="md-list-item-text">电表信息录入</span>
                </md-list-item>
                <md-list-item @click="showUser">
                    <md-icon>contacts</md-icon>
                    <span class="md-list-item-text">电力用户查询</span>
                </md-list-item>
                <md-list-item @click="showEquipment">
                    <md-icon>dvr</md-icon>
                    <span class="md-list-item-text">电力设备查询</span>
                </md-list-item>
                <md-list-item @click="showBalance">
                    <md-icon>account_balance_wallet</md-icon>
                    <span class="md-list-item-text">余额变动查询</span>
                </md-list-item>
                <md-list-item @click="showArrear">
                    <md-icon>attach_money</md-icon>
                    <span class="md-list-item-text">欠款查询及缴费</span>
                </md-list-item>
                <md-list-item @click="showPayment">
                    <md-icon>compare_arrows</md-icon>
                    <span class="md-list-item-text">缴费记录</span>
                </md-list-item>
            </md-list>
        </md-app-drawer>

        <md-app-content style="min-height: 600px">
            <div class="md-layout md-alignment-top-center">
                <md-card class="md-layout-item md-size-70" v-if="step === 1">
                    <md-card-area>
                        <md-card-media>
                            <img src="/static/img/index.jpg" alt="scene">
                        </md-card-media>
                        <md-card-header>
                            <div class="md-title"><b>国家电网</b></div>
                            <div class="md-subhead">国网沈阳供电公司</div>
                        </md-card-header>
                        <md-card-content>
                            你用电，我用心！
                            95598
                        </md-card-content>
                    </md-card-area>
                    <md-card-actions md-alignment="right">
                        <md-button class="md-primary">缴费</md-button>
                    </md-card-actions>
                </md-card>
                <!--抄表记录-->
                <md-table v-model="searched" v-else-if="step===2" md-sort="check_id" md-sort-order="asc" md-card
                          class="md-layout-item md-size-90">
                    <md-table-toolbar>
                        <div class="md-toolbar-section-start">
                            <h1 class="md-title">抄表记录</h1>
                        </div>
                        <md-field md-clearable class="md-toolbar-section-end">
                            <md-input placeholder="搜索。。。" v-model="search" @input="searchOnTable"/>
                        </md-field>
                    </md-table-toolbar>

                    <md-table-empty-state
                            md-label="无对应抄表信息"
                            :md-description="`不存在与 '${search}' 相关的抄表信息. 请尝试检查后重新输入！`">

                    </md-table-empty-state>

                    <md-table-row slot="md-table-row" slot-scope="{ item }">
                        <md-table-cell md-label="ID" md-sort-by="check_id" md-numeric>{{ item.check_id }}
                        </md-table-cell>
                        <md-table-cell md-label="设备编号" md-sort-by="equipment_id">{{ item.equipment_id }}</md-table-cell>
                        <md-table-cell md-label="本次度数" md-sort-by="degree">{{ item.degree }}</md-table-cell>
                        <md-table-cell md-label="上次度数" md-sort-by="last_degree">{{ item.last_degree }}</md-table-cell>
                        <md-table-cell md-label="时间" md-sort-by="time">{{ changeToDate(item.time) }}</md-table-cell>
                        <md-table-cell md-label="抄表人" md-sort-by="recorder">{{ item.recorder }}</md-table-cell>
                    </md-table-row>
                </md-table>
                <!--电力用户-->
                <md-table v-model="searched" v-else-if="step===3" md-sort="user_id" md-sort-order="asc" md-card
                          class="md-layout-item md-size-90">
                    <md-table-toolbar>
                        <div class="md-toolbar-section-start">
                            <h1 class="md-title">电力用户</h1>
                        </div>
                        <md-field md-clearable class="md-toolbar-section-end">
                            <md-input placeholder="搜索。。。" v-model="search" @input="searchOnTable"/>
                        </md-field>
                    </md-table-toolbar>

                    <md-table-empty-state
                            md-label="无对应用户信息"
                            :md-description="`不存在与 '${search}' 相关的用户信息. 请尝试检查后重新输入！`">

                    </md-table-empty-state>

                    <md-table-row slot="md-table-row" slot-scope="{ item }">
                        <md-table-cell md-label="ID" md-sort-by="user_id" md-numeric>{{ item.user_id }}</md-table-cell>
                        <md-table-cell md-label="用户姓名" md-sort-by="name">{{ item.name }}</md-table-cell>
                        <md-table-cell md-label="余额" md-sort-by="balance">{{ item.balance }}</md-table-cell>
                        <md-table-cell md-label="地址" md-sort-by="address">{{ item.address }}</md-table-cell>
                        <md-table-cell md-label="设备数量" md-sort-by="amount">{{ item.equipment_amount }}</md-table-cell>
                        <md-table-cell md-label="代缴总额" md-sort-by="debt">{{ item.debt }}</md-table-cell>
                    </md-table-row>
                </md-table>
                <!--电力设备-->
                <md-table v-model="searched" v-else-if="step===4" md-sort="equipment_id" md-sort-order="asc" md-card
                          class="md-layout-item md-size-90">
                    <md-table-toolbar>
                        <div class="md-toolbar-section-start">
                            <h1 class="md-title">电力设备</h1>
                        </div>
                        <md-field md-clearable class="md-toolbar-section-end">
                            <md-input placeholder="搜索。。。" v-model="search" @input="searchOnTable"/>
                        </md-field>
                    </md-table-toolbar>

                    <md-table-empty-state
                            md-label="无对应电力设备信息"
                            :md-description="`不存在与 '${search}' 相关的电力设备. 请尝试检查后重新输入！`">
                    </md-table-empty-state>

                    <md-table-row slot="md-table-row" slot-scope="{ item }">
                        <md-table-cell md-label="设备编号" md-sort-by="equipment_id" md-numeric>{{ item.equipment_id }}
                        </md-table-cell>
                        <md-table-cell md-label="度数" md-sort-by="degree">{{ item.degree }}</md-table-cell>
                        <md-table-cell md-label="用户编号" md-sort-by="user_id">{{ item.user_id }}</md-table-cell>
                        <md-table-cell md-label="用户姓名" md-sort-by="name">{{item.name}}</md-table-cell>
                        <md-table-cell md-label="类别" md-sort-by="category">{{ item.category=='01'?'居民':'商业' }}
                        </md-table-cell>
                    </md-table-row>
                </md-table>
                <!--余额变动-->
                <md-table v-model="searched" v-else-if="step===5" md-sort="time" md-sort-order="asc" md-card
                          class="md-layout-item md-size-90">
                    <md-table-toolbar>
                        <div class="md-toolbar-section-start">
                            <h1 class="md-title">余额变动</h1>
                        </div>
                        <md-field md-clearable class="md-toolbar-section-end">
                            <md-input placeholder="搜索。。。" v-model="search" @input="searchOnTable"/>
                        </md-field>
                    </md-table-toolbar>

                    <md-table-empty-state
                            md-label="无对应余额变动记录"
                            :md-description="`不存在与 '${search}' 相关的余额变动信息. 请尝试检查后重新输入！`">
                    </md-table-empty-state>

                    <md-table-row slot="md-table-row" slot-scope="{ item }">
                        <md-table-cell md-label="用户Id" md-sort-by="user_id">{{item.user_id}}</md-table-cell>
                        <md-table-cell md-label="时间" md-sort-by="time">{{ changeToDate(item.time)}}</md-table-cell>
                        <md-table-cell md-label="原始金额" md-sort-by="last_amount">{{ item.last_amount }}</md-table-cell>
                        <md-table-cell md-label="改后金额" md-sort-by="amount">{{item.amount}}</md-table-cell>
                        <md-table-cell md-label="变动金额" md-sort-by="change"><span
                                :style="(item.amount-item.last_amount)>0?'color: #448aff':'color: #ff5252'">{{ (item.amount-item.last_amount).toFixed(2) }}</span>
                        </md-table-cell>
                    </md-table-row>
                </md-table>
                <!--欠费记录-->
                <md-table v-model="searched" v-else-if="step===6" md-sort="arrear_id" md-sort-order="asc" md-card
                          class="md-layout-item md-size-90">
                    <md-table-toolbar>
                        <div class="md-toolbar-section-start">
                            <h1 class="md-title">欠费账单</h1>
                        </div>
                        <md-field md-clearable class="md-toolbar-section-end">
                            <md-input placeholder="搜索。。。" v-model="search" @input="searchOnTable"/>
                        </md-field>
                    </md-table-toolbar>

                    <md-table-empty-state
                            md-label="无对应欠费记录"
                            :md-description="`不存在与 '${search}' 相关的欠费信息. 请尝试检查后重新输入！`">
                    </md-table-empty-state>

                    <md-table-row slot="md-table-row" slot-scope="{ item }">
                        <md-table-cell md-label="Id" md-sort-by="arrear_id">{{item.arrear_id}}</md-table-cell>
                        <md-table-cell md-label="设备Id" md-sort-by="equipment_id">{{item.equipment_id}}</md-table-cell>
                        <md-table-cell md-label="创建时间" md-sort-by="create_time">{{
                            changeToDateTime(item.create_time)}}
                        </md-table-cell>
                        <md-table-cell md-label="本金" md-sort-by="principal">{{ item.principal }}</md-table-cell>
                        <md-table-cell md-label="完整代缴金额" md-sort-by="amount">{{item.amount}}</md-table-cell>
                        <md-table-cell md-label="滞纳天数" md-sort-by="time">{{
                            parseInt((new Date(item.edit_time)-new Date(item.create_time))/(1000 * 60 * 60 *
                            24))>30?(parseInt((new Date(item.edit_time)-new Date(item.create_time))/(1000 * 60 * 60 *
                            24))-30): 0}}
                        </md-table-cell>
                    </md-table-row>
                </md-table>
                <!--缴费记录-->
                <md-table v-model="searched" v-else-if="step===7" md-sort="payment_id" md-sort-order="asc" md-card
                          class="md-layout-item md-size-90">
                    <md-table-toolbar>
                        <div class="md-toolbar-section-start">
                            <h1 class="md-title">缴费清单</h1>
                        </div>
                        <md-field md-clearable class="md-toolbar-section-end">
                            <md-input placeholder="搜索。。。" v-model="search" @input="searchOnTable"/>
                        </md-field>
                    </md-table-toolbar>

                    <md-table-empty-state
                            md-label="无对应缴费记录"
                            :md-description="`不存在与 '${search}' 相关的缴费信息. 请尝试检查后重新输入！`">
                    </md-table-empty-state>

                    <md-table-row slot="md-table-row" slot-scope="{ item }">
                        <md-table-cell md-label="Id" md-sort-by="payment_id">{{item.payment_id}}</md-table-cell>
                        <md-table-cell md-label="缴费设备Id" md-sort-by="equipment_id">{{item.equipment_id}}</md-table-cell>
                        <md-table-cell md-label="流水号" md-sort-by="serial_id">{{item.serial_id}}</md-table-cell>
                        <md-table-cell md-label="时间" md-sort-by="time">{{
                            changeToDateTime(item.time)}}
                        </md-table-cell>
                        <md-table-cell md-label="金额" md-sort-by="amount">{{ item.amount }}</md-table-cell>
                        <md-table-cell md-label="银行" md-sort-by="bank">{{item.name}}</md-table-cell>
                        <md-table-cell md-label="是否冲正" md-sort-by="edit"><span
                                :style="item.is_edit?'color: #ff5252':'color: #448aff'">{{item.is_edit?'是':'否'}}</span>
                        </md-table-cell>
                    </md-table-row>
                </md-table>
            </div>
        </md-app-content>
    </md-app>

    <md-dialog :md-active.sync="showDialog">
        <md-dialog-title>新增</md-dialog-title>

        <div v-if="step===2" class="createDialog md-layout md-alignment-top-center">
            <md-field class="md-layout-item md-size-80">
                <label>设备编号</label>
                <md-select v-model="newRecord.equipmentId">
                    <md-option v-for="item in equipmentIds" :key="item.equipment_id" :value="item.equipment_id">
                        {{item.equipment_id}}
                    </md-option>
                </md-select>
            </md-field>
            <md-datepicker v-model="newRecord.time" class="md-layout-item md-size-80">
                <label>抄表日期</label>
            </md-datepicker>
            <md-field class="md-layout-item md-size-80">
                <label>设备读数</label>
                <md-input v-model="newRecord.degree" type="number"></md-input>
            </md-field>
            <md-field class="md-layout-item md-size-80">
                <label>抄表人</label>
                <md-input v-model="newRecord.recorder"></md-input>
            </md-field>

        </div>

        <div v-else-if="step===3" class="createDialog md-layout md-alignment-top-center">
            <md-field class="md-layout-item md-size-80">
                <label>姓名</label>
                <md-input v-model="newUser.name"></md-input>
            </md-field>
            <md-field class="md-layout-item md-size-80">
                <label>地址</label>
                <md-input v-model="newUser.address"></md-input>
            </md-field>
            <md-field class="md-layout-item md-size-80">
                <label>余额</label>
                <md-input v-model="newUser.balance" type="number"></md-input>
                <md-icon>attach_money</md-icon>
            </md-field>
        </div>

        <div v-else-if="step===4 " class="createDialog md-layout md-alignment-top-center">

            <md-field class="md-layout-item md-size-80">
                <label>用户编号</label>
                <md-select v-model="newEquipment.userId">
                    <md-option v-for="item in user" :key="item.user_id" :value="item.user_id">{{item.user_id}}
                    </md-option>
                </md-select>
            </md-field>

            <div class="md-layout-item md-size-80">
                <md-radio v-model="newEquipment.category" value="01" class="md-primary">居民</md-radio>
                <md-radio v-model="newEquipment.category" value="02">商业</md-radio>
            </div>
        </div>

        <div v-else-if="step===6 " class="createDialog md-layout md-alignment-top-center">

            <md-field class="md-layout-item md-size-80">
                <label>设备编号</label>
                <md-select v-model="newPay.equipmentId">
                    <md-option v-for="item in equipmentIds" :key="item.equipment_id" :value="item.equipment_id">
                        {{item.equipment_id}}
                    </md-option>
                </md-select>
            </md-field>

            <md-field class="md-layout-item md-size-80">
                <label>余额</label>
                <md-input v-model="newPay.amount" type="number"></md-input>
                <md-icon>attach_money</md-icon>
            </md-field>

            <md-field class="md-layout-item md-size-80">
                <label>银行用户Id</label>
                <md-input v-model="newPay.bankUserId" type="number"></md-input>
            </md-field>

            <md-field class="md-layout-item md-size-80">
                <label>缴费银行</label>
                <md-select v-model="newPay.bankId">
                    <md-option v-for="item in banks" :key="item.id" :value="item.id">{{item.name}}
                    </md-option>
                </md-select>
            </md-field>
        </div>

        <div v-else-if="step===7 " class="createDialog md-layout md-alignment-top-center">

            <md-field class="md-layout-item md-size-80">
                <label>清单编号</label>
                <md-select v-model="newRecovery.serialId">
                    <md-option v-for="item in serialIds" :key="item.serial_id" :value="item.serial_id">{{item.serial_id}}
                    </md-option>
                </md-select>
            </md-field>

            <md-field class="md-layout-item md-size-80">
                <label>正确设备</label>
                <md-select v-model="newRecovery.equipmentId">
                    <md-option v-for="item in equipmentIds" :key="item.equipment_id" :value="item.equipment_id">
                        {{item.equipment_id}}
                    </md-option>
                </md-select>
            </md-field>
        </div>

        <md-dialog-actions>
            <md-button class="md-primary" @click="showDialog = false">取消</md-button>
            <md-button class="md-primary" @click="showDialog = false;create()">创建</md-button>
        </md-dialog-actions>
    </md-dialog>

    <md-snackbar md-position="center" :md-duration="3000" :md-active.sync="showSnackbar" md-persistent>
        <span>{{snackbarItem}}</span>
        <md-button class="md-primary" @click="showSnackbar = false">了解</md-button>
    </md-snackbar>
    <md-button v-if="step===2||step===3||step===4||step===6||step===7"
               class="md-fab md-primary md-fab-bottom-right md-fixed"
               @click="add">
        <md-icon>add</md-icon>
    </md-button>

</div>

<script>
    Vue.use(VueMaterial.default)
    const searchBy = (items, term) => {
        if (term && app.step === 2) {
            return items.filter(item => ((item.equipment_id + '').includes(term) || (app.changeToDate(item.time)).includes(term) || (item.recorder).includes(term)))
        } else if (term && app.step === 3) {
            return items.filter(item => ((item.user_id + '').includes(term) || (item.address).includes(term) || (item.name).includes(term)))
        } else if (term && app.step === 4) {
            return items.filter(item => ((item.equipment_id + '').includes(term) || (item.user_id + '').includes(term) || (item.name).includes(term)))
        } else if (term && app.step === 5) {
            return items.filter(item => ((item.user_id + '').includes(term) || (app.changeToDate(item.time)).includes(term)))
        } else if (term && app.step === 6) {
            return items.filter(item => ((item.arrear_id + '').includes(term) || (item.equipment_id + '').includes(term) || (app.changeToDate(item.create_time)).includes(term)))
        } else if (term && app.step === 7) {
            return items.filter(item => ((item.payment_id + '').includes(term) || (item.serial_id + '').includes(term) || (item.equipment_id + '').includes(term) || (app.changeToDate(item.time)).includes(term)))
        }
        return items
    }
    var app = new Vue({
        el: '#app',
        data: {
            snackbarItem: null,
            showSnackbar: false,
            menuVisible: false,
            showDialog: false,
            step: 1,//2抄表，3用户，4设备，5余额，6欠费与缴费
            newEquipment: {
                userId: null,
                category: null
            },
            newUser: {
                name: null,
                address: null,
                balance: 0
            },
            newRecord: {
                equipmentId: null,
                degree: null,
                recorder: null,
                time: null
            },
            newPay: {
                equipmentId: null,
                amount: null,
                bankId: null,
                bankUserId: null
            },
            newRecovery: {
                serialId: null,
                equipmentId: null
            },
            search: null,
            searched: [],
            checkRecord: [],
            equipmentRecord: [],
            balanceRecord: [],
            arrearRecord: [],
            paymentRecord: [],
            user: [],
            equipmentIds: [],
            serialIds: [],
            banks: [
                {
                    id: 1,
                    name: "中国招商银行"
                },
                {
                    id: 2,
                    name: "中国建设银行"
                },
                {
                    id: 3,
                    name: "中国工商银行"
                }
            ]
        },
        methods: {
            toggleMenu () {
                this.menuVisible = !this.menuVisible
            },
            add () {
                if (this.step === 2) {
                    this.getEquipmentId()
                    this.showDialog = true
                }
                else if (this.step === 3) {
                    this.showDialog = true
                } else if (this.step === 4) {
                    this.getUserId()
                    this.showDialog = true
                } else if (this.step === 6) {
                    this.getEquipmentId()
                    this.showDialog = true
                } else if (this.step === 7) {
                    this.getSerial()
                    this.getEquipmentId()
                    this.showDialog = true
                }
            },
            create () {
                if (this.step === 2) {
                    this.createCheck()
                } else if (this.step === 3) {
                    this.createUser()
                } else if (this.step === 4) {
                    this.createEquipment()
                } else if (this.step === 6) {
                    this.createPay()
                } else if (this.step === 7) {
                    this.createRecovery()
                }
            },
            createRecovery () {
                let _this = this
                axios.post("/payment/recovery", this.newRecovery).then(
                    function (value) {
                        if (value.data.code == '100') {
                            _this.snackbarItem = "冲正成功！"
                            _this.showSnackbar = true
                            _this.paymentRecord = value.data.data
                            _this.searched = _this.paymentRecord
                        }
                    })
            },
            createPay () {
                let _this = this
                axios.post("/arrear/pay", this.newPay).then(
                    function (value) {
                        if (value.data.code == '100') {
                            _this.snackbarItem = "缴费记录 " + value.data.data.id + " 创建成功！"
                            _this.showSnackbar = true
                            _this.arrearRecord = value.data.data.arrearRecord
                            _this.searched = _this.arrearRecord
                        } else if (value.data.code == '501') {
                            _this.snackbarItem = "设备不存在！"
                            _this.showSnackbar = true
                        } else if (value.data.code == '502') {
                            _this.snackbarItem = "缴费金额异常！"
                            _this.showSnackbar = true
                        }
                    })
            },
            createCheck () {
                let _this = this
                axios.post("/check/add", this.newRecord).then(
                    function (value) {
                        _this.snackbarItem = "抄表记录 " + value.data.data.id + " 创建成功！"
                        _this.showSnackbar = true
                        _this.checkRecord = value.data.data.checkRecord
                        _this.searched = _this.checkRecord
                    })
            },
            createEquipment () {
                let _this = this
                axios.post("/equipment/add", this.newEquipment).then(
                    function (value) {
                        _this.snackbarItem = "电力设备 " + value.data.data.id + " 创建成功！"
                        _this.showSnackbar = true
                        _this.equipmentRecord = value.data.data.equipment
                        _this.searched = _this.equipmentRecord
                    })
            },
            createUser () {
                let _this = this
                axios.post("/user/add", this.newUser).then(
                    function (value) {
                        _this.snackbarItem = "用户 " + value.data.data.id + " 创建成功！"
                        _this.showSnackbar = true
                        _this.user = value.data.data.user
                        _this.searched = _this.user
                    })
            },
            showRecord () {
                this.step = 2
                this.search = null
                let _this = this
                axios.get("/check/get", null).then(
                    function (value) {
                        _this.checkRecord = value.data.data
                        _this.searched = _this.checkRecord
                    }
                )
            },
            showUser () {
                this.step = 3
                this.search = null
                let _this = this
                axios.get("/user/get", null).then(
                    function (value) {
                        _this.user = value.data.data
                        _this.searched = _this.user
                    }
                )
            },
            showEquipment () {
                this.step = 4
                this.search = null
                let _this = this
                axios.get("/equipment/get", null).then(
                    function (value) {
                        _this.equipmentRecord = value.data.data
                        _this.searched = _this.equipmentRecord
                    }
                )
            },
            showBalance () {
                this.step = 5
                this.search = null
                let _this = this
                axios.get("/user/balance", null).then(
                    function (value) {
                        _this.balanceRecord = value.data.data
                        _this.searched = _this.balanceRecord
                    }
                )
            },
            showArrear () {
                this.step = 6
                this.search = null
                let _this = this
                axios.get("/arrear/get", null).then(
                    function (value) {
                        _this.arrearRecord = value.data.data
                        _this.searched = _this.arrearRecord
                    }
                )
            },
            showPayment () {
                this.step = 7
                this.search = null
                let _this = this
                axios.get("/payment/get", null).then(
                    function (value) {
                        _this.paymentRecord = value.data.data
                        _this.searched = _this.paymentRecord
                    }
                )
            },
            getEquipmentId () {
                let _this = this
                axios.get("/equipment/id", null).then(
                    function (value) {
                        _this.equipmentIds = value.data.data
                    }
                )
            },
            getUserId () {
                let _this = this
                axios.get("/user/id", null).then(
                    function (value) {
                        _this.user = value.data.data
                    }
                )
            },
            getSerial () {
                let _this = this
                axios.get("/payment/serial", null).then(
                    function (value) {
                        _this.serialIds = value.data.data
                    }
                )
            },
            refresh () {
                let _this = this
                axios.get("/arrear/refresh", null).then(
                    function (value) {
                        _this.snackbarItem = "账单更新成功"
                        _this.showSnackbar = true
                    }
                )
            },
            searchOnTable () {
                if (this.step === 2) {
                    this.searched = searchBy(this.checkRecord, this.search)
                } else if (this.step === 3) {
                    this.searched = searchBy(this.user, this.search)
                } else if (this.step === 4) {
                    this.searched = searchBy(this.equipmentRecord, this.search)
                } else if (this.step === 5) {
                    this.searched = searchBy(this.balanceRecord, this.search)
                } else if (this.step === 6) {
                    this.searched = searchBy(this.arrearRecord, this.search)
                } else if (this.step === 7) {
                    this.searched = searchBy(this.paymentRecord, this.search)
                }
            },
            changeToDate (obj) {
                if (obj === null || obj === '') {
                    return 'NaN'
                }
                let date = new Date(obj)
                let y = 1900 + date.getYear()
                let m = '0' + (date.getMonth() + 1)
                let d = '0' + date.getDate()
                return y + '-' + m.substring(m.length - 2, m.length) + '-' + d.substring(d.length - 2, d.length)
            },
            changeToDateTime (obj) {
                if (obj === null || obj === '') {
                    return 'NaN'
                }
                let date = new Date(obj)
                let y = 1900 + date.getYear()
                let m = '0' + (date.getMonth() + 1)
                let d = '0' + date.getDate()
                let h = '0' + (date.getHours())
                let minute = '0' + (date.getMinutes())
                return y + '-' + m.substring(m.length - 2, m.length) + '-' + d.substring(d.length - 2, d.length) + ' ' + h.substring(h.length - 2, h.length) + ':' + minute.substring(minute.length - 2, minute.length)
            }
        }
    })
</script>
</body>
<style>
    .page-container {
        min-height: 100%;
    }

    .createDialog {
        width: 500px;
    }

    .md-menu-content {
        z-index: 100;
    }
</style>
</html>
